@import url(http://fonts.googleapis.com/css?family=Lora:400,400italic);
@import url(http://fonts.googleapis.com/css?family=Monda);
@import url(http://fonts.googleapis.com/css?family=Droid+Serif:400,400italic);
body { font-family: "Open Sans", sans-serif; font-size: 9pt;}

#wrapper { position: absolute; top: 0px; left: 0px; height: 100%; width: 100%;overflow: hidden;}

#toolbar { width: 36px; padding: 35px 5px 0px 5px; height: 100%; background: #EDEDED; border-left: 1px solid #BBB; position: absolute; z-index: 10; right: 282px; top: 0;}
#tool_select img { border: 1px solid transparent; opacity: 0.5; border-radius: 5px; }
#tool_select img:hover { opacity: 1.0;}
#tool_select a.toolbar_selected img { border: 1px solid #CCC; opacity: 1.0 !important; background: #FFF; 
	-webkit-box-shadow: inset 0px -900px 50px -900px rgba(150, 150, 150, 0.3), inset 0px 1px 0px 0px #FFF;
	box-shadow: inset 0px -900px 40px -900px rgba(150, 150, 150, 0.3), inset 0px 1px 0px 0px #FFF;}

#sidewrapper { position: absolute; top: 1px; right: 1px; width: 280px; z-index: 5; background: #F6F6F6; border-left: 1px solid #BBB; height: 100%; overflow: auto;}
#graph_sidebar { margin: 5px 10px;}
#hideSidebar, #showSidebar { z-index: 11; font-size: 15pt; font-weight: bold; border-bottom: 1px solid #999; width: 46px;
	background: #F7F7F7; position: absolute; top: -1px;}
#showSidebar { display: none; right: 0px; }
#hideSidebar { right: 282px; display: inline;}
#showSidebar a, #hideSidebar a { color: #666; text-decoration: none; display: block; padding-top: 0px; text-align: right; padding-right: 13px;}
#showSidebar a {text-align: left; padding-left: 13px;}

.toolbox { width: 210px; background: #FFFFFF; border: 1px solid #999; position: absolute; right: 292px; top: 20px; z-index: 9; display: none;}
.toolbox_header { font-weight: bold; background: #E8E8E8; padding: 3px;}
.toolbox_close { float: right; display: inline-block;}
.toolbox_main { padding: 3px;}

.graph_input_wrapper { margin-bottom: 5px; padding: 4px 6px; margin: 1px 0px; font-family: "Lucida Console"; font-size: 10pt;cursor:pointer;}
.graph_input_wrapper:hover { background-color:#DDD; }
.active_equation { background: #DDD; }
/*.active_equation { background: #F0F0F0; padding: 3px 5px; border: 1px solid #CCC; border-radius: 5px; text-shadow:1px 1px 0px #FAFAFA;
	-webkit-box-shadow: inset 0px -900px 50px -900px rgba(150, 150, 150, 0.3), inset 0px 1px 0px 0px #FFF;
	box-shadow: inset 0px -900px 40px -900px rgba(150, 150, 150, 0.3), inset 0px 1px 0px 0px #FFF; }
*/
.graph_equation_display span { padding-right: 5px;}
.graph_equation_remover {
	float: right;
    width: 24px;
    height: 24px;
    border: 1px solid #CCC;
    font-weight: bold;
    font-size: 12px;
    font-family: Tahoma;
    margin-left: 5px;
    background-color: #FEFEFE;
    border-radius: 4px;
}
.graph_equation_remover:hover {
	background-color:#EEE;
}
.graph_color_indicator { height: 22px; width: 22px; border: 1px solid #BBB; float: right;border-radius:4px; }
#graph_inputs input { height: 16px; padding: 1px; clear: both; width: 156px; border: 1px solid #BBB; padding: 3px; font-size: 10pt; font-family: "Lucida Console";}

#settings { display: none; margin-bottom: 20px;}

#settings2 { display: none; margin-bottom: 20px;}

#graph_wrapper { position: absolute; top: 0px; left: 0px; height: 100%; width: 100%; z-index: 2; margin-right: 250px;}
#graph_wrapper:hover { cursor: crosshair;}
#graph_wrapper:active { cursor: move;}
#graph { width: 100%; height: 100%;}

h1 { margin: 0; padding: 0;}

.options_list { line-height: 25px;}
.option { color: #666; border: 1px solid #BBB; background: #E7E7E7; border-radius: 5px; padding: 1px 4px;}
.option_selected { font-weight: bold; color: #000; background: #F6F6F6; border: 1px solid #999; }

a { text-decoration: none;}
a:hover { text-decoration: none;}

.hidden { display: none;}
