html {
	position:relative;
	height:100%;

}


body{

	position:relative;
	min-height:100%;
}

textarea{
	white-space: nowrap;
	font-family: Courier New, monospace;
}

.moz_wrap{
	white-space: pre !important;
}

#header{
	position:relative;
	display: flex;
	width:100%;
	height:50px;
	background-color:#3367d6;
	color:white;
}


#logo_holder {
	margin-left:2%;
	position:relative;
	display: inline-block;
	width:10%;
	height:100%;
}

#logo{
	height: 100%;
	width:50%;
	max-width:50px;
	background-image: url("../img/icon1.png");
	background-size:100%;
	background-repeat: no-repeat;
}

#header_text {
	display: inline-block;
	line-height: 50px;
	width:76%;
	height:100%;
	text-align:center;

}

#content_holder{
	display:block;
	position:relative;
	width:1024px;
	min-height: calc(100vh - 120px);
	padding:50px;
	margin:auto;
	background-color:white;

}

#wrapper{
	height:70px;
}

#footer{
	position:absolute;
	width:100%;
	height:auto;
	bottom:0;
	left:0;
	box-shadow: inset 0 2px 10px;
	background-color:rgba(63, 82, 86, 0.3);
	color: #3a4d4e;
}

#site_data {
	line-height:25px;
	width:40%;
	margin-left:59%;
	height:100%;

} 

.content_header{
	font-size:20px;
	font-weight: bold;
}

.content_co_header{
	font-size:18px;
	font-weight: bold;
}

.text_container{
	margin:7px 0 !important;
}


svg{
	padding:25px;
	border:0.2px solid lightblue;
}

.btn_group{
	display:inline-block;
	border-radius:3px;
	margin-top:3px;

}




.container{
	display:block;
	position:relative;
	width:100%;
	height:auto;
	margin-top:15px !important;
	min-height:30px;
}
.mobile.container{
	display:unset;
	position:unset;
	width:100%;
	height:auto;
	margin-top:0 !important;
	min-height:unset;
	text-align: center;
}

.flexed_block{
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	margin-bottom:5px !important;
}

.flexed_block.tripled > div{
	width:33% !important;
}

.flexed_block.doubled > div{
	width:49%;
}

.flexed_block > div{
	width:calc(25% - 4px);
	margin: 2px;
	white-space: nowrap;
}

.flexed_block textarea{
	width: 100%;
}

.right_sided{
	display:inline-block;
	float: right;
	padding-right:30px;
}


.centered{
	text-align: center;	
	margin:auto;
}

.centered > * {
	margin:auto;
}

#target {
	min-width:400px;
	width:525px;
	max-width:100%;
	min-height:200px;
	max-height:800px;
}

#temptext {
	min-width:200px;
	width:250px;
	max-width:100%;
	min-height:100px;
	max-height:400px;
}

#inputTextToSave{
	min-width: 450px;
	max-width: 100%;
	min-height: 200px;
	max-height: 800px;
	height: 200px;
	width: 300px;
}

#div0{
	width:600px;
	height:500px;
}

#fh,
#fw {
	min-width:450px;
	max-width:100%;
	min-height:200px;
	max-height:800px;
	height:200px; 
	width:300px;
}

#svg_paper{
	position:absolute;

	top:0;
	z-index:2;
}

.hideable{
	position:relative;
	width:800px;
	left:50%;
	margin-left:-400px;
	margin-top:10px;
	padding:10px;
	display:inline-block;
	border: 1px solid #3b7e9e;

}

.hideable > div:first-child{
	margin-left:30px !important;
	text-align:left;	
	cursor: pointer;
}

p.icon{
	display:inline;
	padding:0 10px;
	background-image: url('../img/opened.png');
	background-size:10px;
	background-repeat:no-repeat;
}
.hide_icon{
	background-image: url('../img/hidden.png') !important;
}

.main {
	z-index:10;
}
strong.undisplayable,
b.undisplayable{
	font-weight:normal;
}

.lined{
	display:inline;
}





@media screen and (max-width:1130px){
	*{
		font-size: 14px;
	}

	html {
		height:100%;

	}

	body{
		background-color:#dceff3;
		position:relative;
		min-height:100%;
	}

	#header{
		margin-bottom:0;
	}

	#content_holder{
		width:100%;
		min-height: calc(100vh - 100px);
		height:100%;
		left: 0;
		padding:25px;
		margin-left:0;
		box-shadow: none;

	}
	#header_text{
		width: 80%;
	}	

	#logo_holder {
		margin-left:0;
	}

	#logo{
		width:100%;
	}



	.container{
		margin-top:8px !important;
		min-height:30px;
	}

	.hideable {
		width:calc(100% - 20px);
		margin-left:calc(-1*(100% - 20px)/2);
	}





	#site_data{
		margin-left:49%;
		width: 50%;
	}





	#wrapper{
		display:none;
	}	

	#footer{
		position:relative;
	}

	b.undisplayable{
		display:none;
	}


}




@media screen and (max-width:740px){

	*{
		font-size: 13px;
	}

	.content_header{
		font-size:18px;
		font-weight: bold;
	}

	.content_co_header{
		font-size:16px;
		font-weight: bold;
	}

	.flexed_block{
		-webkit-flex-wrap:wrap;
		-moz-flex-wrap:wrap;
		flex-wrap:wrap;
	}

	.flexed_block > div{
		width:calc(50% - 4px);
		white-space: normal !important;
	}
	.flexed_block > div > textarea{
		width:100%;
	}

	.flexed_block.tripled > div{
		width:100% !important;
	}
	.flexed_block.doubled > div{
		width:calc(50% - 4px);
	}

}


@media screen and (max-width:640px){
	strong.undisplayable,
	div.undisplayable{
		display:none;
	}

	.mobile.lined{
		display:block;
		margin-top:3px !important;
	}
	#content_holder{
		min-height: calc(100vh - 100px);
	}
	.mobile.uncentered{
		text-align: center;	
		margin:auto;
	}

	.mobile.uncentered > * {
		margin:auto;
	}

	.mobile.container{
		display:block;
		position:relative;
		width:100%;
		height:auto;
		margin-top:15px !important;
		min-height:30px;
	}

	select.input_type{
		width:100px;
	}

	#logo_holder {
		width:20%;
	}

	#plotly0 {
		position:relative;
		left:50%;
		transform: scale(0.6);
		margin-left: -300px;
		margin-right: 20%;
		margin-top: -50px;
		margin-bottom: -50px;
	}

	#svg_paper{
		left:0;
		top:0;
		margin-left:0;
	}

	#target {
		width:auto;
		min-width:50%;
		max-height: 600px;
	}

	#div0{
		position:relative;
		left:50%;
		transform: scale(0.55);
		margin-left:-300px;
		margin-top:-100px;
		margin-bottom:-125px;

	}
	#inputTextToSave,
	#fh,
	#fw {
		min-width:50%;
		min-height:100px;
		max-height:600px;
		height:150px; 
		width:auto;
	}


	.right_sided{
		display:inline-block;
		float: right;
		padding-right:5px;
	}

	.mobile.centered{
		text-align: unset;	
		margin:unset;
	}

	.mobile.centered > * {
		margin:unset;
	}
	#site_data{
		width: 80%;
		margin-left:19%;
	}


}

@media screen and (max-width:500px){
	#plotly0 {
		margin-left:-275px;
		top:-60px;
		margin-bottom:-125px;


	}

	#header_text{
		line-height: 25px;
		width: 60%;
	}

}

@media screen and (max-width:360px){
	#plotly0 {
		transform: scale(0.5);
		margin-left:-250px;
		top:-60px;
		margin-bottom:-125px;
		margin-right: unset;
	}
	#div0{
		transform: scale(0.45);
		margin-top:-125px;
		margin-bottom:-125px;

	}

}
