html {
	position:relative;
	height:100%;
	overflow1:hidden;
}


body{
	background-color:#dceff3;
	position:relative;
	min-height:100%;
	min-width:100%;
}

textarea{
	white-space: nowrap;
	font-family: Courier New, monospace;
}

.moz_wrap{
	white-space: pre !important;
}

#header{
	position:relative;
	display: flex;
	width:100%;
	height:50px;
	margin-bottom: 0;
	box-shadow: 0 3px 10px gray;
	background-color:#3367d6;
	color:white;
}


#logo_holder {
	margin-left:0;
	position:relative;
	display: inline-block;
	width:10%;
	height:100%;
}

#logo{
	height: 100%;
	width:100%;
	max-width:50px;
	background-image: url("../img/icon1.png");
	background-size:100%;
	background-repeat: no-repeat;
}

#header_text {
	display: inline-block;
	line-height: 50px;
	width: calc(80% + 50px);
	height:100%;
	text-align:center;

}

#content_holder{
	display:block;
	width:100%;
	height:100%;
	left: 0;
	padding:25px;
	margin-left:0;
	box-shadow: none;
	min-height:calc(100vh - 100px);
	position:relative;
	background-color:white;
}

#wrapper{
	height:70px;
}

#wrapper{
	display:none;
}

#footer{
	position:absolute;
	position:relative;
	width:100%;
	height:50px;
	bottom:0;
	left:0;
	box-shadow: inset 0 2px 10px;
	background-color:rgba(63, 82, 86, 0.3);
	color: #3a4d4e;
}

#site_data {
	float:right;
	line-height:25px;
	width: auto;
	margin-right: 100px;
	height:100%;

} 

#create_wrapper{
	position:relative;
	z-index: 25;
	background-color:rgba(255, 255, 255, 0.8);
}

#create_holder{
	position:absolute;
	left:0;
	top:0;
	width:100%;
	height:100%;
	z-index:12;
	background-color:rgba(255, 255, 255, 0.8);
	text-align:center;
}

#creater{
	position:absolute;
	left:50%;
	top:50%;
	transform:translateY(-50%)translateX(-50%);

}

#sideLock{
	display:none;
	position:absolute;
	left: -20px;
	top:0;
	height:100%;
	width:20px;
	cursor:pointer;
	background-color:#4285f4;
	border-top-left-radius:5px;
	border-bottom-left-radius:3px;
}

.lined_block{
	display:inline-block;

}

.content_header{
	font-size:20px;
	font-weight: bold;
}

.content_co_header{
	font-size:18px;
	font-weight: bold;
}

.text_container{
	margin:7px 0 !important;
}


label{
	line-height:25px;
}

svg{
	padding:25px;
	border:1px solid lightblue;
	left: 0 !important;
	top: 0 !important;
}

.btn_group{
	display:inline-block;
	border-radius:3px;
	margin-top:3px;

}



.container{
	display:block;
	position:relative;
	width:100%;
	height:auto;
	margin-top:8px !important;
	min-height:30px;
}
.mobile.container{
	display:unset;
	position:unset;
	width:100%;
	height:auto;
	margin-top:0 !important;
	min-height:unset;
	text-align: center;
}

.flexed_block{
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	margin-bottom:5px !important;
}

.flexed_block.tripled > div{
	width:33% !important;
}

.flexed_block.doubled > div{
	width:49%;
}

.flexed_block > div{
	width:calc(25% - 4px);
	margin: 2px;
	white-space: nowrap;

}

.flexed_block textarea{
	width: 100%;
}

.right_sided{
	display:inline-block;
	float: right;
	padding-right:30px;
}

.floating_block{
	position:relative;
	transition:0.2s;
	height:auto;
	width:calc(100vw - 50px);
}

.hideable>.floating_block{
	width: calc(100vw - 70px);
}

#header>.floating_block{
	transition:0s;
	display:flex;
}


#scrollLocker{
	width:20px;
	margin-right:5px;
}

#scroller{
	display:none;
	position:absolute;
	width:100%;
	height:100%;
	z-index:20;
}

.centered{
	text-align: center;	
	margin:auto;
}

.centered > * {
	margin:auto;
}

#target {
	min-width:400px;
	width:525px;
	max-width:100%;
	min-height:200px;
	max-height:800px;
}

#temptext {
	min-width:200px;
	width:250px;
	max-width:100%;
	min-height:100px;
	max-height:400px;
}

#inputTextToSave{
	min-width: 450px;
	max-width: 100%;
	min-height: 200px;
	max-height: 800px;
	height: 200px;
	width: 300px;
}

#div0{
	width:600px;
	height:500px;
}

#fh,
#fw {
	min-width:450px;
	max-width:100%;
	min-height:200px;
	max-height:800px;
	height:200px; 
	width:300px;
}

#svg_paper{
	position:absolute;
	-webkit-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	-o-transform: translateX(-50%);
	transform: translateX(-50%);
	left: 50%;
	top:0;
	z-index:2;
}

.hideable{
	position:relative;
	margin-top:10px;
	padding:10px;
	display:inline-block;
	border: 1px solid #3b7e9e;
	width:100%;
}

.hideable_title{
	margin-left:30px !important;
	text-align:left;	
	cursor: pointer;
}

p.icon{
	display:inline;
	padding:0 10px;
	background-image: url('../img/opened.png');
	background-size:10px;
	background-repeat:no-repeat;
}
.hide_icon{
	background-image: url('../img/hidden.png') !important;
}

.main {
	z-index:10;
}
strong.undisplayable,
b.undisplayable{
	font-weight:normal;
	display:none;
}

.lined{
	display:inline;
}

#plotly0{
	display:none;
}



@media screen and (max-width:640px){

	input.input_type{
		width:70px;
	}


}

@media print {
	*{
		display:none !important;
	}
	html{
		display: block !important;
	}
	body{
		display: block !important;
		background-color:white;
	}
	#content_holder{
		display:block !important;
	}
	#printer{
		display:block !important;
	}
	#plotly0{
		display:block !important;
	}

	#boldStuff{
		display: block !important;
	}

	#boldStuff > svg {
		display: inline-block !important;
		border:none;
	}
	#boldStuff > svg * {
		display: block !important;
	}



}
